# latex
*.pdf
*.tps
*.toc
*.thm
*.lot
*.log
*.lof
*.bbl
*.aux
*.blg

# java / .net core / python
venv/
bioflairvenv/
.vs/
.vscode/
obj/
bin/
.idea/
.settings/
logs/
datax/
target/
__pycache__/
input/
Input/
output/
Output/
correspondences/

.classpath
.factorypath
.project
*.config
*.iml