[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
spacy-lookups-data = "*"
pandas = "*"
conllu = "*"
wasabi = "==0.8.0"
catalogue = "==1.0.0"
cymem = "==2.0.3"
preshed = "==3.0.2"

[requires]
python_version = "3.8"
